@page "/holdings"
@using RHWebFront.Services
@using RHWebFront.Models
@inject IRhAssetManager manager

@if (AssetSnapshots is null) { <p>Loading...</p> }
else if (AssetSnapshots.Count == 0) { <p>No holdings</p> }
else
{
    <div class="holdings-grid">
        @foreach (var asset in AssetSnapshots)
        {
            <HoldingCard @key="asset.Symbol" Asset="@asset" />
        }
    </div>
}

@code {
    [PersistentState]
    public IReadOnlyList<RHAssetSnapshot> AssetSnapshots { get; set; }

    protected override async Task OnInitializedAsync()
    {
        AssetSnapshots = await manager.GetAssets();
    }
}
